<div class="container content">
      <!-- Search, and Upload Button -->
      <div id="searchFilterWrap">
        <form id="searchForm">
          <input type="text"
                    id="searchBox"
                    placeholder="Search by title"
                    ng-model="searchTxt"
                    ng-model-options="{debounce : 600}" />
        </form>

      <div class="row">
        <div id="sortByWrap">
          Sort By:<i class="fa fa-calendar"
                            ng-click="sortByTime()"></i>
                        <i class="fa fa-thumbs-up"
                            ng-click="sortByLikes()"></i>

          <button class="btn btn-primary add-look-btn"
                      data-animation="am-fade-and-scale"
                      data-placement="center"
                      data-template-url="app/main/addLookModal.html"
                      bs-modal="showModal">Add Look</button>
              </div>
            </div>
          </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">All Looks:
              <span class="label label-info">{{ looks.length }}</span>Looks </h1>
              <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"
                ng-repeat="look in looks">
                <li>
                  <span class="input-group-addon">
                  <a href="#" ng-click="deleteLook(look)">
                    <span class="glyphicon glyphicon-remove pull-left"></span></a>
                  <a ui-sref="look ({ lookId: look._id })" data-title="{{ look.title }}"
                    data-animation="am-flip-x"
                    bs-tooltip>{{ look.title }}</a>
                </li>
                <li>
                  <span class="input-group-addon listing-image">
                  <a ui-sref="look ({ lookId: look._id})">
                    <img class="thumbnail img-responsive"
                      ng-src="{{ look.image }}"></a></span>
                </li>
                <li>
                  <span class="input-group-addon">
                    <p>{{ look.email }}</p>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

</div>
