<div class="container content">
      <!-- Search, and Upload Button -->
      <div id="searchFilterWrap">
        <form id="searchForm">
          <input type="text"
                    id="searchBox"
                    placeholder="Search by title"
                    ng-model="searchTxt"
                    ng-model-options="{debounce : 600}" />
        </form>

      <div class="row">
        <div id="sortByWrap">
          Sort By:<i class="fa fa-calendar"
                            ng-click="sortByTime()"></i>
                        <i class="fa fa-thumbs-up"
                            ng-click="sortByLikes()"></i>

          <button class="btn btn-primary add-look-btn"
                      data-animation="am-fade-and-scale"
                      data-placement="center"
                      data-template-url="app/main/addLookModal.html"
                      bs-modal="showModal">Add Look</button>
              </div>
            </div>
          </div>

</div>
